@use '../../../index.scss' as colors;

.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__label {
        display: flex;
        justify-content: space-between;

        &-title {
            cursor: pointer;
        }
    }
}

