@use '../../../index.scss' as colors;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 5px;
    }

    &__content {
        background-color: colors.$background;
        border-radius: 10px;
        width: 320px;
        height: 350px;
        display: flex;
        flex-direction: column;

        &_close {
            align-self: flex-end;
            margin: 8px;
            color: rgb(185, 67, 67);
            height: 30px;
            width: 30px;
            padding: 4px;
            
            &:hover {
                border-color: rgb(185, 67, 67);
            }
        }
    }
}