$color: #000;
$background: #fff;
$active: #517ea3;
$hover: #70b1e6;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 100vw;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

a {
    font-weight: 500;
    color: $color;
    text-decoration: inherit;

    &:hover {
        color: $hover;   
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $background;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: $hover;
    }
    
    &:focus, &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

.main__container {
    display: grid;
    grid-template-columns: 400px 1fr;

    &-tasklist {
        padding-top: 16px;
        box-sizing: border-box;
        height: 100vh;
        overflow: auto;
    }
}